<nav class="fixed-top bg-white border-bottom-secondary">
  <div class="nav-main">
    <a class="nav-title text-black" href="{{site.baseurl}}/"><b>Nono Heryana</b></a>
    <ul class="nav-list nav-right">
      <li class="nav-item"><a href="{{site.baseurl}}//">Blog</a></li>
      <li class="nav-item"><a href="{{site.baseurl}}/courses/">Courses</a></li>
      <li class="nav-item"><a href="{{site.baseurl}}/publications/">Publications</a></li>
 	  <li class="nav-item"><a href="{{site.baseurl}}/about/">About</a></li>   
    </ul>
  </div>
</nav>
